<div class="banner">
  <div class="login-page">
    <div class="bar">
    <p>Welcome <%= current_user.username%></p>
    <p>Email: <%= current_user.email%></p>
    <p><%= link_to "Sign out!" , destroy_user_session_path, :method=> :delete %>
    </p>
  </div>

  </div>
  <p class="linkb"><%= link_to 'Back' , properties_path %></p>
  <div class="favorite-title">
    <h1>My Booking</h1>
  </div>

  <div class="my-favorite">
    <% @bookings.each do |b| %>

    <div class="p-card" style="height:500px">
      <div class="p-card-action">
      <h3><%= link_to 'Cancel', booking_path(b), method: :delete, data: { confirm: 'Cancel?' } %></h3>
      <h3><%= link_to "View", property_path(b.property&.id) %></h3>
    </div>

      <h2>
        <%= b.property.name %>
      </h2>
      <h3>
        <%= b.property.address %>,
        <%= b.property.city %>
      </h3>

      <p>
        <%= image_tag "#{b.property.pic}" , class:"card-img"%>
      </p>

      <h3>
        <%= b.name %>
      </h3>
      <p><%= b.content %></p>
    </div>
    <% end %>
  </div>

</div>
