<%= simple_form_for(@property) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :address %>
    <%= f.input :city %>
    <div class="search-element">
      <label for="housing_type">Choose a housing type:</label>
      <select name="housing_type" id="housing_type">
        <option value="Apartment">Apartment</option>
        <option value="Normal House">Normal House</option>
        <option value="Luxury House">Luxury House</option>
        <option value="Shared Room">Shared Room</option>
      </select>
    </div>
    <%= f.input :price %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
