<div class="banner">
  <div class="login-page">
    <p class="bar">Welcome <%= current_user.email%>
    <%= link_to "Sign out!" , destroy_user_session_path, :method=> :delete %>
    </p>
      <ul>
        <li><a href="http://localhost:3000/favorites" class="favorite">Your Favorite List Here</a></li>
        <li><a href="http://localhost:3000/bookings" class="booking">Your booking List Here</a></li>
      </ul>
  </div>




  <div class="city-welcome">
    <h1>Welcome to <%= @hello %>
    </h1>
  </div>

  <div class="properties">
    <form action="" method="get">
      <div class="product-search">
        <div class="search-element">
          <label class="search-label">What are you looking for?</label>
          <input class="search-input" type="text" autocomplete="on" placeholder="Property Type" name="query">
        </div>
        <div class="search-element">
          <label class="search-label">How much is your affordable price?</label>
          <input class="search-input" type="text" placeholder="Maximum price for renting" autocomplete="on"
            name="location">
        </div>
        <a type="submit" class="search-button">Search</a>
      </div>
    </form>
  </div>
  <% @properties.each do |p| %>
    <div class="p-card">
      <h2 class="show-name">
        <%= link_to "Take a Look" , p %>
      </h2>
      <div class="price-show">
        <h1>$<%= p.description.split(',')[2] %> Daily |
              <%= 100-p.description.split(',')[3].to_i %>% off Monthly
        </h1>
      </div>
      <h2>
        <%= p.name %>
      </h2>
      <h3>
        <%= p.address %>,
        <%= p.city %>
      </h3>




      <p>
        <%= image_tag "#{p.pic}" , class:"card-img"%>
      </p>
    </div>
    <% end %>


</div>

</div>
