<div class="banner">
  <div class="login-page">
    <div class="bar">
    <ul>
    <li>Welcome👏<%= current_user.username%>👏</li>
    <li>📧:<%= current_user.email%></li>
    <li><%= link_to "Sign out!" , destroy_user_session_path, :method=> :delete %></li>
    </ul>
  </div>
</div>

  <div class="city-welcome">
    <h1>Welcome to <%= @hello %>
    </h1>
  </div>

  <div class="ul-bar">
    <ul>
      <li><%= link_to 'Your Favorite List Here' , favorites_path, class:"favorite" %></li>
      <li><%= link_to 'Your Booking List Here' , bookings_path, class:"favorite" %></li>
  <li class="create"><%= link_to 'New Property', new_property_path %></li>
  </ul>
 </div>

  <div class="properties">
    <form action="/properties" method="get">
      <div class="product-search">
        <div class="search-element">
          <label for="housing_type">Choose a housing type:</label>
          <select name="housing_type" id="housing_type">
          <ul class="min-options">
            <option value="Apartment">Apartment</option>
            <option value="Normal House">Normal House</option>
            <option value="Luxury House">Luxury House</option>
            <option value="Shared Room">Shared Room</option>
            </ul>
          </select>
        </div>
        <div class="search-element">
          <label class="search-label">How much is your affordable price?</label>
          <input class="search-input" type="text" placeholder="Maximum price for renting" autocomplete="on"
            name="price">
        </div>

        <input type="submit" class="search-button"></a>
      </div>
    </form>
  </div>
  <% @properties.each do |p| %>
    <div class="p-card">
      <h2 class="show-name">
        <div class="emoji"><%= link_to "👉" , p %></div>
      </h2>
      <div class="price-show">
          <h1>$<%= p.price %> Daily | <%= 100-p.discount.to_i %>% Off Monthly


        </h1>
      </div>
      <h2>
        <%= p.name %>
      </h2>
      <h3>
        <%= p.address %>,
        <%= p.city %>
      </h3>




      <p>
        <% if p.pic.present? %>
        <%= image_tag "#{p.pic}" , class:"card-img"%>
        <% end %>
      </p>
      <p>
      <% if p.user==current_user %>
          <h1 style="color:red">This is My property!!!</h1>
      <% else %>
      <h1><%= "This is #{p.user.username}'s' property!!!" %></h1>
      <% end %>
    </p>
    </div>
    <% end %>


</div>

</div>
