<div class="banner">
  <div class="login-page">
    <p>Welcome <%= current_user.email%></p>
    <%= link_to "Sign out!" , destroy_user_session_path, :method=> :delete %>

  </div>

  <div class="properties">
  <form action="" method="get">
  <div class="product-search">
      <div class="search-element">
        <label class="search-label">What are you looking for?</label>
        <input class="search-input" type="text" autocomplete="on" placeholder="Property Type" name="query">
      </div>
      <div class="search-element">
        <label class="search-label">How much is your affordable price?</label>
        <input class="search-input" type="text" placeholder="Maximum price for living"  autocomplete="on" name="location">
      </div>
      <a type="submit" class="search-button">Search</a>
  </div>
</form>
    </div>
    <% @properties.each do |p| %>
      <div class="p-card">
        <h2>
          <%= p.name %>
        </h2>
        <h3>
          <%= p.city %>
        </h3>

          <p>Type: <%= p.description.split(',')[0] %></p>
          <p>Suit for: <%= p.description.split(',')[1] %></p>
          <p>Price: $<%= p.description.split(',')[2] %> per day</p>
          <p>Monthly Rental: $<%= p.description.split(',')[2].to_i*p.description.split(',')[3].to_i/100*30 %> per month</p>
          <p>Discount: <%= 100-p.description.split(',')[3].to_i %>% off!</p>

        <p>
          <%= image_tag "#{p.pic}", class:"card-img"%>
        </p>
      </div>
      <% end %>


  </div>

</div>
