<div class="banner">
  <div class="login-page">
    <div class="bar">
    <p>Welcome <%= current_user.username%></p>
    <p>Email: <%= current_user.email%></p>
    <p><%= link_to "Sign out!" , destroy_user_session_path, :method=> :delete %>
    </p>
  </div>

  </div>

  <div class="city-welcome">
    <h1>Welcome to <%= @hello %>
    </h1>
  </div>

  <div class="ul-bar">
    <ul>
      <li><a href="http://localhost:3000/favorites" class="favorite">Your Favorite List Here</a></li>
      <li><a href="http://localhost:3000/bookings" class="booking">Your booking List Here</a></li>
    </ul>
  </div>
<p class='create'>
  <%= link_to 'New Property', new_property_path %>
  </p>

  <div class="properties">
    <form action="/properties" method="get">
      <div class="product-search">
        <div class="search-element">
          <label class="search-label">What are you looking for?</label>
          <input class="search-input" type="text" autocomplete="on" placeholder="Apartment|Normal House|Luxury House|Shared Room" name="housing_type">
        </div>
        <div class="search-element">
          <label class="search-label">How much is your affordable price?</label>
          <input class="search-input" type="text" placeholder="Maximum price for renting" autocomplete="on"
            name="price">
        </div>
        <input type="submit" class="search-button"></a>
      </div>
    </form>
  </div>
  <% @properties.each do |p| %>
    <div class="p-card">
      <h2 class="show-name">
        <%= link_to "Take a Look" , p %>
      </h2>
      <div class="price-show">
        <h1>$<%= p.price %> Daily |
              <%= 100-p.description.split(',')[3].to_i %>% off Monthly
        </h1>
      </div>
      <h2>
        <%= p.name %>
      </h2>
      <h3>
        <%= p.address %>,
        <%= p.city %>
      </h3>




      <p>
        <%= image_tag "#{p.pic}" , class:"card-img"%>
      </p>
    </div>
    <% end %>


</div>

</div>
