<div class="banner">
  <div class="login-page">
    <p>Welcome <%= current_user.email%>
    </p>
    <%= link_to "Sign out!" , destroy_user_session_path, :method=> :delete %>

  </div>

  <div class="properties">
    <div class="p-card-title">
      <p>Properties</p>
      <p>Address</p>
      <p>Description</p>
    </div>
    <% @properties.each do |p| %>
      <div class="p-card">
        <p>
          <%= p.name %>
        </p>
        <p>
          <%= p.city %>
        </p>
        <p>
          <%= p.description %>
        </p>
      </div>
      <% end %>


  </div>

</div>
