<div class="show-banner">
    <div class="show-navbar">
    <p class="linkb"><%= link_to 'Back' , properties_path %></p>
     <p class='out'><%= link_to "Sign out!" , destroy_user_session_path, :method=> :delete %></p>
     </div>
  <div class="login-page2">

    <p class='hi'>Welcome <%= current_user.email%></p>
    <br>

  </div>
  <div class="show-page-card">
    <div class="like">
    <h1>
      <%= @property.name %>
      </h1>
    </div>
    <h2 class="address2">
      <%= @property.address %>
      <%= @property.city %>
    </h2>
    <div class="detail">
    <p>Type: <%= @property.housing_type %>
    </p>


    <p>Price: $<%= @property.price %> per day</p>
    <p>Monthly Rental: $<%= @property.price.to_i*@property.discount.to_i/100*30 %> per month</p>
    <p>Discount: <%= 100-@property.discount.to_i %>% off!</p>
    </div>
<div class="pic">
    <p>
      <% if @property.pic.present? %>
      <%= image_tag "#{@property.pic}, :size => '200px'" , class:"card-img" %>
    <% end %>
    </p>
    </div>

  </div>


<br>
<div class="p-action4">
  <%= button_to "Add to my favorite list", property_favorites_path(@property.id) %>
  <%= button_to "Booking it!", new_property_booking_path(@property.id), method: :get %>
  </div>
</div>

<footer>
  <div class="footer-copyright text-center">&copy; Developed 💻 </i> by<a href="github" class="white-text" target="_blank">Yuji and Ethan</a>.
  </div>
</footer>
